td button, td.qty input, #addProduct button {
	width: 100px;
}

.tcost {
	font-weight: bold;
}

#addProduct input {
	width: 160px;
}

#addProduct button {
	margin-left: 20px;
}

button:hover {
	border-color: #ccc;
	background-color: #ddd;
}
