td.qty {
	width: 150px;
}

td button, td.qty input {
	width: 100px;
}

button:hover {
	border-color: #ccc;
	background-color: #ddd;
}

#addProduct input {
	width: 180px;
}

#addProduct button {
	width: 100px;
	margin-left: 25px;
}